certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
dominate==2.7.0
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
SQLAlchemy==2.0.8
typing_extensions==4.5.0
visitor==0.1.3
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
wincertstore==0.2
WTForms==3.0.1
